@font-face {
    font-family: "SurfingCapital";
    src: url(assets/font/SurfingCapital.ttf);
    font-family: "Cocogoose";
    src: url(assets/font/CocogooseProLightTrial.ttf);
}

* {
    box-sizing: border-box;
}

html {
    background-color: #05badd;
    z-index: initials;
    display: block;
}

h1,
h2 {

    font-family: 'SurfingCapital', sans-serif;
    color: #FFB224;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

h4 {
    font-family: 'SurfingCapital', sans-serif;
    font-size: 15px;
}

p {
    font-family: 'Cocogoose', sans-serif;
}


.left {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    border: 2px solid red;
}

.right {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;
    border-radius: 5%;
    background-color: #FFB224;
    border: 2px solid red;
}

#about-container {
    border: 2px solid red;
    height: 100vh
}

.paragraph-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}

#createNow a {
    font-family: 'SurfingCapital', sans-serif;
    color: white;
    border: 2px solid red;
    text-align: center;
}

li {
    box-sizing: border-box;
    list-style-type: none;
    display: inline;
}

ul {
    font-size: 3vh;
}

#title {
    margin-bottom: 3rem;
    color: white;
}

a:not(#gallery-about) {
    text-decoration: none;
    font-family: "Cocogoose", 'Gill Sans', 'Gill Sans MT';
    color: #FFB224;
    text-shadow: 1px 1px 2px black;
    padding: 23px;
}

a:hover:not(#gallery-about) {
    background-color: none;
    color: white;

}

a:hover:not(#logo-dream) {
    background-color: #FFB224;
    color: #05badd;
    text-shadow: none;
    border: 1px solid red;

}

#gallery-about:hover {
    color: #FFB224;
}

#mainButton a:hover {
    color: black;
    background-color: none;
}

#gallery-about {
    text-decoration: none;
    font-family: "SurfingCapital", sans-serif;
    color: black;
    font-size: 15px;
    text-align: center;
}


/* #logo-dream p {
    font-family: "SurfingCapital", sans-serif;
    font-size: 1rem;
    color: blue;
    border: 2px solid blue;
} */

#boutonsNavbar {
    width: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#mainButton a {
    font-family: "SurfingCapital", sans-serif;
    color: #FFB224;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 3rem;
    margin-top: 5px;
}

#abouth1 {
    display: flex;
    flex-direction: column;
    font-size: 15rem;
    text-align: center;
}

#paragraphe {
    flex: auto;
    margin: 6rem;
}

div {
    display: flex;
    flex: auto;
}

.submit-button-about {
    font-family: "SurfingCapital", sans-serif;
    background-color: fuchsia;
    border-radius: 50%;
    margin: 20vh;
    padding: 5vh;
    border: none;
    color: white;
    overflow: hidden;
    border: 2px solid black;
    font-size: 1.5rem;

}

.submit-button-about:hover {
    background-color: rgb(107, 152, 40);
}

#footer-copyright {
    position: absolute;
    width: 100vb;
    bottom: O;
    padding: 3px;
    font-weight: bold;
    border: 2px solid purple;
}




/* boutonburger */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Teko', sans-serif;
}

body {

    min-height: 100vh;

}

.fullPageMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #05badd;
    transition: 0.5s;
    visibility: hidden;
    z-index: 100;

}

.fullPageMenu.active {
    top: 0;
    visibility: visible;
    z-index: 200;
}

.fullPageMenu .banner {
    position: relative;
    width: 600px;
    height: 100%;
}

.fullPageMenu .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 2px solid red;
}

.fullPageMenu .nav ul {
    position: relative;
}

.fullPageMenu .nav ul li {
    position: relative;
    list-style: none;
    padding: 0 20px;
    margin: 5px 0;
    overflow: hidden;
    display: table;
}

.fullPageMenu .nav ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: transform 0.5s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

.fullPageMenu .nav ul li:hover:before {
    transition: transform 0.5s ease-in-out;
    transform: scaleY(1);
    transform-origin: top;
}

.fullPageMenu .nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

.fullPageMenu .nav ul li a:before {
    content: attr(data-text);
    position: absolute;
    bottom: -100%;
    left: 0;
    color: #FFB224;
}

.fullPageMenu .nav ul li:hover a {
    transform: translateY(-100%);
    color: #05badd;
}

.menuicon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: red url(https://i.postimg.cc/k4rb3zpp/pngwave.png);
    background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
    z-index: 300;
}

.menuicon.active {
    background: fuchsia url(https://i.postimg.cc/25t1dMY5/pngegg-1.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}


@media screen and (max-width: 1000px) {

    .list a {
        font-size: 2rem;
    }

    #boutonsNavbar {
        display: none;
    }

    .menuicon {
        display: initial;
    }

    #about-container {

        flex-wrap: wrap;

    }
}

@media screen and (min-width: 1000px) {

    .banner {
        display: none;
    }

    .menuicon {
        display: none;
    }