li {
    box-sizing: border-box;
    list-style-type: none;
    display: inline;
}

ul {
    display: inline;
    font-size: 30px;
}

#boutonsNavbar {
    width: 40rem;
    display: flex;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

button {
    align-content: center;
    text-decoration: none;
}

nav {
    background-color: red;
}

footer {
    text-align: bottom;
}

div {
    border: 2px solid yellow;
}