.hidden { 
    display: none;
    width: 100%;
 }
.visible { 
    display: block;
    width: 500px;
    height: 700px;
 }

 #blackBtn {
    background-color: #000000;
    color: white;
    border-radius: 10px;
    box-shadow: #000000;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    margin: 20px;
 }

 #blueBtn{
    background-color: #1097df;
    color: white;
    border-radius: 10px;
    box-shadow: #1097df;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    margin: 20px;
   
 }

 #pinkBtn{
    background-color: #df10ce;
    color: white;
    border-radius: 10px;
    box-shadow: #df10ce;
    border: none;
    font-size: 1.5rem;
    padding: 15px;
    margin: 20px;
  
 }

 


