@font-face {
    font-family: SurfingCapital;
    src: url(../assets/font/SurfingCapital.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

*:visited {
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "SurfingCapital", sans-serif;
}

#contact-container {
    display: flex;
    align-items: center;
    height: 88vh;

}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    font-size: 150px;
    flex-direction: column;

}

.left p {
    text-align: center;
    font-size: 10vw;
}


.right {
    display: flex;
    width: 50%;
    height: auto;
    /* margin-top: 170px; */

}

.form {

    border-radius: 10px;
    margin: 60px;
}


#namebox {
    display: flex;
    flex-direction: column;
}

#messageForm {
    display: flex;
    flex-direction: column;
}

#email-input {
    display: flex;
    flex-direction: column;
}

.contact-label {
    display: block;
    padding: 0;
    margin-top: 20px;
}

#name-contact {
    padding: 0;
}


.firstname-lastname {

    display: block;
    background: linear-gradient(#7e8081, #e2e6e8);
    /*margin: 10px;*/
    width: 30vw;
    height: 6vh;
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
}


.form-input {

    display: block;
    background: linear-gradient(#7e8081, #e2e6e8);
    /*margin: 10px;;*/
    width: 30vw;
    height: 6vh;
    border-radius: 8px;
    border: none;
    padding: 0.5rem;
}

label,
input {
    display: block;
    float: left;
    margin: auto;
    height: 4vh;
    border-radius: 8px;
    border: none;
    padding: 1.5rem;
}

textarea {

    text-align: center;
    width: 40vw;
    border-radius: 8px;
    border: none;
    display: block;
    background: linear-gradient(#7e8081, #e2e6e8);

}


.submit-button {
    padding: 12px;
    height: 5vh;
    background-color: turquoise;
    color: black;
    font-family: "SurfingCapital", sans-serif;
    border-radius: 40%;

    margin-top: 2vh;
    margin-left: 30vw;
}

#levraibouton {
    display: flex;
    align-items: end;
}

#submit-form {
    display: flex;
    flex-direction: column;
    width: 500px;

}


.submit-button:hover {

    background-color: #F4D74B;

}

/* #contact-title {
    font-size: 5rem;
    align-items: center;
    margin-top: 50%;
    margin-bottom: 50%;
} */

.contain {

    text-align: center;
    margin-top: 50%;
    margin-bottom: 50%;

}

div {
    display: flex;
    flex: auto;
}

footer {
    max-width: 1300px;
}

#footer-copyright {
    position: absolute;
    width: 100vw;
    bottom: O;
    padding: 3px;
}

#boutonsNavbar {
    font-family: 'SurfingCapital', sans-serif;
    width: 100vh;
    display: flex;
    justify-content: flex-end;
    justify-content: space-around;
    align-items: center;
    color: #F4D74B;

}

#boutonsNavbar a {
    color: black;
}

#boutonsNavbar :hover {
    color: turquoise;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black;
}

#logo-dream {
    margin-left: 1vw;
    margin-top: 4vh;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black;
    color: turquoise;
}

#mainButton a {
    font-family: "SurfingCapital", sans-serif;
    color: turquoise;
    font-size: 2rem;
    text-decoration: none;
}

#mainButton p {
    margin-top: 1vh;
}

#mainButton a:hover {
    color: black;
    background-color: none;
    text-shadow: none;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    margin-top: 5px;
}

li {
    box-sizing: border-box;
    list-style-type: none;
    display: inline;
}

ul {
    font-size: 3vh;
}

/* bouton burger */

.fullPageMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    transition: 0.3s;
    visibility: hidden;
    z-index: 100;

}

.fullPageMenu.active {
    top: 0;
    visibility: visible;
    z-index: 200;
}

.fullPageMenu .banner {
    position: relative;
    width: 600px;
    height: 100%;
}

.fullPageMenu .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.fullPageMenu .nav ul {
    position: relative;
}

.fullPageMenu .nav ul li {
    position: relative;
    list-style: none;
    padding: 0 20px;
    margin: 5px 0;
    overflow: hidden;
    display: table;
}

.fullPageMenu .nav ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: transform 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
}

.fullPageMenu .nav ul li:hover:before {
    transition: transform 0.5s ease-in-out;
    transform: scaleY(1);
    transform-origin: top;
}

.fullPageMenu .nav ul li a {
    font-family: "SurfingCapital", sans-serif;
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.3s ease-in-out;
}

.fullPageMenu .nav ul li a:before {
    content: attr(data-text);
    position: absolute;
    bottom: -100%;
    left: 0;
    color: turquoise;
}

.fullPageMenu .nav ul li:hover a {
    transform: translateY(-100%);
    color: grey;
}

.menuicon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: turquoise url(https://cdn.icon-icons.com/icons2/2024/PNG/512/lines_menu_burger_icon_123889.png);
    background-size: 40px;
    cursor: pointer;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: 10px;
    z-index: 300;
}

.menuicon.active {
    background: fuchsia url(https://i.postimg.cc/25t1dMY5/pngegg-1.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
}

@media screen and (max-width: 1000px) {

    .list a {
        font-size: 2rem;
    }

    #boutonsNavbar {
        display: none;
    }

    .menuicon {
        display: initial;
    }

    #contact-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #createNow a {
        size: 30vw;
    }

    .right {
        width: auto;
        height: 70vh;
        display: flex;
        justify-content: center;
        margin: 2%;
        margin-bottom: 20vh;
    }

    .left {
        width: auto;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100vh;
    }
}

@media screen and (min-width: 1000px) {

    .menuicon {
        display: none;
    }
}