@font-face {
    font-family: SurfingCapital;
    src: url(../assets/fonts/SurfingCapital.ttf);
}
@font-face {
    font-family: CocogooseProLighttrial;
    src: url(../assets/fonts/CocogooseProLighttrial.ttf);
}
  
  * {
    box-sizing: border-box;
  }
  
  html {
    background-color: rgb(240, 236, 236);
    z-index: initials;
    display: block;
  }
  
  #logo-dream {
    color: black;
    font-size: 1.5rem;
  }
  h1 {
  
    font-family: SurfingCapital, sans-serif;
    color: black;
    text-align: center;
    padding: 30px;
    margin: 50px;
    
  }
  
  h4 {
    font-family: SurfingCapital, sans-serif;
    font-size: 15px;
  }
  
  p {
    font-family: CocogooseProLighttrial, sans-serif;
  }
  
  li {
    box-sizing: border-box;
    list-style-type: none;
    display: inline;
    
  }
  
  ul {
    font-size: 3vh;
  }
  
  
  a:not(#gallery-about) {
    text-decoration: none;
    font-family: SurfingCapital, sans-serif;
    color: turquoise;
    padding: 23px;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black;
  }
  
  
  #boutonsNavbar a:hover {
    color: black;
  }
  
  #boutonsNavbar {
    font-family: SurfingCapital, sans-serif;
    width: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  #mainButton a:hover {
    color: turquoise;
    background-color: none;
  }
  
  #mainButton a {
    display: flex;
    justify-content: flex-start;
    font-family: SurfingCapital, sans-serif;
    color: black;
    font-size: 4rem;
    text-shadow:
          -1px 0px 0px black,
          1px 0px 0px black,
          0px -1px 0px black,
          0px 1px 0px black;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    height: 3rem;
    margin-top: 5px;
  }
  
  #logo-nav{
    font-size: 30px;
    font-family: SurfingCapital, sans-serif;
    color: black;
  }
  
  /* boutonburger */
  
  .fullPageMenu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    transition: 0.5s;
    visibility: hidden;
    z-index: 100;
  
  }
  
  .fullPageMenu.active {
    top: 0;
    visibility: visible;
    z-index: 200;
  }
  
  .fullPageMenu .banner {
    position: relative;
    width: 600px;
    height: 100%;
  }
  
  .fullPageMenu .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 2px solid red;
  }
  
  .fullPageMenu .nav ul {
    position: relative;
  }
  
  .fullPageMenu .nav ul li {
    position: relative;
    list-style: none;
    padding: 0 20px;
    margin: 5px 0;
    overflow: hidden;
    display: table;
  }
  
  .fullPageMenu .nav ul li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    transition: transform 0.5s ease-in-out;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  
  .fullPageMenu .nav ul li:hover:before {
    transition: transform 0.5s ease-in-out;
    transform: scaleY(1);
    transform-origin: top;
  }
  
  .fullPageMenu .nav ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    display: inline-block;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
  }
  
  .fullPageMenu .nav ul li a:before {
    content: attr(data-text);
    position: absolute;
    bottom: -100%;
    left: 0;
    color: turquoise;
  }
  
  .fullPageMenu .nav ul li:hover a {
    transform: translateY(-100%);
    background-color: rgb(240, 236, 236);
  }
  
  .menuicon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: red url(https://i.postimg.cc/k4rb3zpp/pngwave.png);
    background-size: 40px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 10px;
    z-index: 300;
  }
  
  .menuicon.active {
    background: fuchsia url(https://i.postimg.cc/25t1dMY5/pngegg-1.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px;
  }
  
  /* form */
  
  #formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }
  
  #posterForm {
    margin: 40px;
  }
  
  #createTitle {
    font-size: 80px;
    padding: 50px;
    margin-top: 150px;
    text-shadow:
    -1px 0px 0px turquoise,
        1px 0px 0px turquoise,
        0px -1px 0px turquoise,
        0px 1px 0px turquoise;
  }
  
  legend {
    font-family: CocogooseProLighttrial, 'Gill Sans', 'Gill Sans MT';
    font-size: 45px;
    color: turquoise;
    text-shadow: -1px 0px 0px black, 1px 0px 0px black, 0px -1px 0px black, 0px 1px 0px black;
    text-align: center;
  }
  
  
    /*  { name: 'Band 1', logo: 'path/to/band1_logo.png' },
      { name: 'Band 2', logo: 'path/to/band2_logo.png' },
      { name: 'Band 3', logo: 'path/to/band3_logo.png' },
      { name: 'Band 4', logo: 'path/to/band4_logo.png' },
      { name: 'Band 5', logo: 'path/to/band5_logo.png' },
  */
  
  
    h1 {
      text-align: center;
    }
  
    fieldset {
      margin-bottom: 10px;
      background-color: white;
      border-radius: 30px;
      padding: 80px;
      margin: 50px;
      border: none;
  
    }
  
    #festivalField {
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 40px;
    }
  
    #festivalName{
      width: 55vw; 
      height: 4vw;
      border-radius: 15px;
    }
  
    canvas {
      border: 1px solid #000;
      display: block;
      margin: 0 auto;
    }
  
    #bandSelection {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
    }
  
    #bandSelection label {
      font-size: 28px; 
   
    }
  
    label {
      font-family: SurfingCapital, sans-serif;
      height: 100%;
      display: block;
      background: turquoise;
      border: 2px solid turquoise;
      border-radius: 20px;
      padding: 1rem;
      margin-bottom: 1rem;
      margin: 1rem;
      text-align: center;
      box-shadow: 0px 3px 10px -2px turquoise;
      position: relative;
      margin: 50px 20pxp;
    }
  
    
  /* Colored buttons */
  
    #colorSelection {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .colorButton {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      cursor: pointer;
    }
  
    .colorButton:hover {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      box-shadow: 0px 3px 10px -2px rgb(3, 3, 3);
      cursor: pointer;
      transition: all .5s ease-in-out;
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  
    }
  
  /* Button generating poster */
  
    #button-field {
      display: flex;
      justify-content: center;
      margin: 200px;
     
  
    }
    #buttonPoster {
  
      font-family: SurfingCapital, sans-serif;
      color: black;
      background-color:turquoise;
      text-shadow:
          -1px 0px 0px black,
          1px 0px 0px black,
          0px -1px 0px black,
          0px 1px 0px black;
     
      border-radius: 15px;
      padding: 15px 40px;
      font-size: 40px;
      border: none;
      box-shadow: 0px 3px 20px -2px rgb(0, 0, 0);
     
    }
  
    #buttonPoster:hover {
  
      transition: all .3s ease-in-out;
      transform: scale(1.1);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      color: #F4D74B;
    }
  
    /*Canvas and buttons*/
  
   #canvasContainer {
    display: flex;
    justify-content: space-between;
    background-color: white;
   
   }
  
   #resetBtn {
  
    font-family: SurfingCapital, sans-serif;
    font-size: 1.5rem;
    background-color: fuchsia;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 3px 20px -2px fuchsia;
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 25%;
    margin-right: 50px;
    margin-left: 70px;
   }
  
   #shareBtn {
  
    font-family: SurfingCapital, sans-serif;
    font-size: 1.5rem;
    background-color: rgb(1, 229, 96);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 0px 3px 20px -2px rgb(1, 229, 96);
    border: none;
    cursor: pointer;
    padding: 20px;
    margin-top: 25%;
    margin-left: 50px;
    margin-right: 70px;
   }
  
   #shareBtn:hover {
  
    color: #F4D74B;
    text-shadow:
    -1px 0px 0px black,
    1px 0px 0px black,
    0px -1px 0px black,
    0px 1px 0px black;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
   }
  
   #resetBtn:hover {
  
    color: #F4D74B;
    text-shadow:
    -1px 0px 0px black,
    1px 0px 0px black,
    0px -1px 0px black,
    0px 1px 0px black;
    transition: all .5s ease-in-out;
    transform: scale(1.2);
   }
  
  #footer-copyright {
    position: absolute;
    width: 100vb;
    bottom: O;
    padding: 3px;
    font-weight: bold;
    color: turquoise;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black;
  }
  
  @media screen and (max-width: 1000px) {
  
    .list a {
        font-size: 2rem;
    }
  
    #boutonsNavbar {
        display: none;
    }
  
    .menuicon {
        display: initial;
    }
  
    #about-container {
  
        flex-wrap: wrap;
  
    }
  }
  
  @media screen and (min-width: 1000px) {
  
    .banner {
        display: none;
    }
  
    .menuicon {
        display: none;
    }
  }